[Desktop Entry]
Type=Application
Exec=/snap/bin/skype
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_US]=Skype
Name=Skype
Comment[en_US]=
Comment=
