*.swp
*.pyc
*.o
.gitignore
tags



.config/Code/Cache/f_000025
.config/Code/Cache/f_000026
.config/Code/Cache/f_000027
.config/Code/Cache/f_000028
.config/Code/Cache/f_000029
.config/Code/CachedData/61122f88f0bf01e2ac16bdb9e1bc4571755f5bd8/
.config/Code/Local Storage/file__0.vscmig
.config/Code/Network Persistent State
.config/Code/User/globalStorage/
.config/Code/User/workspaceStorage/1548409410002/
.config/Code/logs/20190125T104328/
.config/Code/logs/20190130T134035/
.config/Code/logs/20190507T153513/
.config/Trolltech.conf
.config/Vidyo/
.config/coc/extensions/node_modules/coc-calc/node_modules/decimal.js/
.config/coc/extensions/node_modules/coc-calc/node_modules/parsimmon/
.config/coc/extensions/node_modules/coc-calc/package-lock.json
.config/coc/extensions/node_modules/coc-sh/
.config/configstore/
.config/kdeconnect/
.config/libreoffice/4/.lock
.config/libreoffice/4/user/pack/wordbook/
.config/libreoffice/4/user/wordbook/
.config/onedrive/
.config/polybar/
.config/totem/
../Notes.pdf

